.cursor {
  background: url("/text-ring.svg") no-repeat center center;
  background-size: contain;
  height: 100px;
  width: 100px;
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
}