.link {
  .row {
    display: inline-flex;
    align-items: center;
    color: var(--link-color);
    transition: transform 0.5s cubic-bezier(.8, 0, 0, .8);
    line-height: 1;
  }

  .row[aria-hidden="true"] {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(100%);
  }

  &:hover {
    .row {
      transform: translateY(-100%);
    }

    .row[aria-hidden="true"] {
      transform: translateY(0);
    }
  }
}