.title {
  font-size: clamp(2rem, 1.0625rem + 3.125vw, 3.875rem);
  scroll-margin-top: 160px;
}

.links {
  font-size: clamp(1.4375rem, 0.7813rem + 2.1875vw, 2.75rem);
}

.content {
  font-size: clamp(1rem, 0.8929rem + 0.5357vw, 1.375rem);
}