@import "tailwindcss";

:root {
  --foreground: #d8e3ec;
  --background: #02080d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
  --font-display: var(--font-clash-display);
  --main-size: clamp(1rem, 0.8929rem + 0.5357vw, 1.375rem);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

.background {
  background: radial-gradient(75% 15% at 50% 100%,
      #0e3258 0%,
      #040915 100%);
  rotate: 180deg;
}

.main-size {
  font-size: var(--main-size);
}