@import "tailwindcss";

:root {
  --foreground: #d8e3ec;
  --background: #02080d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

.background {
  background: radial-gradient(
    75% 25% at 50% 100%,
    #0e3258 0%,
    hsl(224, 65%, 5%) 100%
  );
  rotate: 180deg;
}
