@import "tailwindcss";

:root {
  --foreground: #d8e3ec;
  --background: #02080d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
  --font-display: var(--font-clash-display);
  --main-size: clamp(1rem, 0.8929rem + 0.5357vw, 1.375rem);

  --animate-blink: blink 1s infinite;

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

.background {
  background: radial-gradient(75% 15% at 50% 100%,
      #0e3258 0%,
      #040915 100%);
  rotate: 180deg;
}

.main-size {
  font-size: var(--main-size);
}

.swiper {
  --swiper-navigation-color: var(--foreground);
  --swiper-pagination-color: var(--foreground);
}

.h2-404 {
  font-size: clamp(4rem, 2.125rem + 6.25vw, 7.75rem);
}

.back-404 {
  font-size: clamp(1.4375rem, 1.0625rem + 1.875vw, 2.75rem);
}